<head>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Sixtyfour+Convergence&display=swap// <uniquifier>: Use a unique and descriptive class name">
<style>
body {
  font-family: "Sixtyfour Convergence", sans-serif;
}
<style>
</head>

h1 {
  color: #725752;
  border: 1px solid black;
}

h2 {
  color: #BBBBBB;
  background-color: green;
  border: 1px solif black;
}

h3 {
  background-color: #D4DFC7;
}
  /* When user hovers over a link*/
  a:hover {
    text-decoration: underline;
    }
    p {color: #black;
      text-indent: 20px;
    }
    iframe {
      display:block;
      display: auto;
    }\
    IMG_0252.JPG {
      padding: 40px;
      border: 2px thin white;
      display: blocks;
      margin: 40px auto;
    }
 */
