h1 {
  color: #725752;
  border: 1px solid black;
}

h2 {
  color: #BBBBBB;
  background-color: green;
  border: 1px solif black;
}

#grad {
  background-image: linear-gradient(to right, rgba(212,223,199),rgba(0,0,0,0)); 
}

  /* When user hovers over a link*/
  a:hover {
    text-decoration: underline;
    }

  p {color: #black;
    text-indent: 20px;
    }

