<style>
title {
  font-family: 'Sixtyfour Convergence', sans-serif;
  font-weight: 800;
  font-style: normal;
  color: black;
}

h1 {
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
  color: black;
}

h2 {
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
  color: #D397AC;
}

h3 {
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
  color: black;
}

h4 {
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
  color: black;
}

h5 {
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
  color: black;
}

h6 {
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
  color: black;
}

body {
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
  color: black;
}

p {
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
  color: black;
  padding-left: 1em;
  padding-right: 1em;
}

.row {
  display: flex;
  width: 70vw; 
}

.button {
  background-color: #EC9E63;
  border: none;
  color: black;
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
  color: black;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

.small-image {
  width: 400px; 
  height: auto;
}

.medium-image {
  width: 600px; 
  height: auto;
}

div.row {
  text-align: left;
}

div.container {
  text-align: left;
}

ul.myUL {
  display: inline-block;
  text-align: left;
}

</style>
